html {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  background: linear-gradient(to right, #52deff, #ff455c);
  height: 100%;
}

h1, h2, h3, h4, h5 {
  font-family: 'Audiowide', "Roboto", sans-serif;
}

h1 {
  text-align: center;
  margin: 30px;
}

/*************************** Nav-Bar ***************************/
.nav-bar {
  /* background: #52deff; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

.nav-bar-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-bar-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 100px;
}

.search {
  background: #eef6ff;
  width: 30%;
  padding: 15px 10px;
  font-style: italic;
  border: none;
  margin-right: 5px;
  border-radius: 10px;
}

.categories {
  border: none;
  background: #eef6ff;
  width: 30%;
  padding: 14px 10px;
  margin-right: 5px;
  border-radius: 10px;
}
/******************************************************/

/*************************** Grid ***************************/
.grid {
  max-width: 1280px;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(5, minmax(100px, 1fr));
  grid-gap: 40px;
  position: relative;
  margin: auto;
}

@media screen and (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(4, minmax(100px, 1fr));
  }
}
@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
  }
}

@media screen and (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
}

@media screen and (max-width: 375px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
/******************************************************/

/**************** Game Page *******************/

.main-container {
  background: #eef6ff;
  max-width: 1280px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}


.horizontal-flex {
  display: flex;
}

.flex-left {
  flex-basis: 50%;
  flex-grow: 1;
}

.flex-right {
  flex-basis: 50%;
  flex-grow: 1;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
}


/**************** Button Generic  *******************/
.button-styled {
    font-weight: bold;
    background-color: #fff148;
    border: unset;
    cursor: pointer;
    border: 3px solid #52deff;
    border-radius: 10px;
    padding: 15px 10px;
}


/**** Generic paddings/margins **********/
.pad-24 {
  padding: 24px;
}

.margin-24 {
  margin: 24px;
}


/**** Text gemerics */

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}